<header class="text-center header">
    <article>
        <img alt="Phil Stoll Portrait" width="200px" height="225px" class="rounded-circle heading-portrait" src="<?= $this->data['portrait-source'] ?>" />
    </article>

    <h1><?= strtoupper($this->data['name']) ?><br><small><?= $this->data['title'] ?></small></h1>

    <?php foreach ($this->data['certifications'] as $certification): ?>
        <h4 class="text-muted"><a title="<?= $certification['name'] ?> Profile Page" href="<?= $certification['verification-url'] ?>"><?= $certification['name'] ?></a></h4>
    <?php endforeach; ?>

    <a href="<?= $this->data['linkedin-url'] ?>" title="Linkedin Profile Page"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="mailto:<?= $this->data['email'] ?>" title="Email <?= $this->data['email'] ?>"><i class="fas fa-envelope-square fa-2x"></i></a>
</header>
